# Arcane Archives Access Transformers
public net.minecraft.client.gui.inventory.GuiContainer drawSlot(Lnet/minecraft/inventory/Slot;)V # 
public net.minecraft.inventory.SlotCrafting amountCrafted # 
public net.minecraft.inventory.SlotCrafting craftMatrix # 
public net.minecraft.inventory.InventoryCrafting stackList # 
public net.minecraft.client.gui.inventory.GuiContainerCreative$ContainerCreative
public net.minecraft.client.gui.inventory.GuiContainerCreative$CreativeSlot
public net.minecraft.client.gui.inventory.GuiContainerCreative$CreativeSlot theSlot # 
public net.minecraft.client.settings.KeyBinding keyCode # 
public net.minecraft.client.gui.inventory.GuiContainer guiLeft #  (1.6 field_74198_m)
public net.minecraft.client.gui.inventory.GuiContainer guiTop #  (1.6 field_74197_n)
public net.minecraft.client.gui.inventory.GuiContainer xSize #  (1.6 field_74194_b)
public net.minecraft.client.gui.inventory.GuiContainer ySize #  (1.6 field_74195_c)
public net.minecraft.client.gui.GuiScreen buttonList #  (1.6 field_73887_h)
public net.minecraft.inventory.ContainerHorseInventory theHorse # 
public net.minecraft.client.gui.inventory.GuiInventory recipeBookGui #
public net.minecraft.client.gui.inventory.GuiCrafting recipeBookGui #
public net.minecraft.nbt.NBTTagList tagList

